.chat-box {
    background-color: rgb(59, 57, 57);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat {
    /* border: 2px solid; */
    width: 50vw;
    height: 50vh;
    background-color: white;
    overflow-y: auto;
}

.chat-head {
    background-color: crimson;
    height: 7vh;
}

.chat-input {
    display: flex;
    align-items: end;
    /* height: 100%; */
    border: 1px solid;
    width: 100%;
}


.chat-input>input {
    width: 100%;
    height: 40px;
    border: 0;
    font-size: large;
}


.chat-input>button {

    height: 40px;
    width: 10%;
    border: 0;
    cursor: pointer;
    background-color: crimson;
}

/* 
.chat-text {
    background-color: greenyellow;
    width: 40%;
    height: 10%;
    padding: 10px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.left {} */